{% extends 'base.html' %}

{% block content %}
    <h1> Are you sure?</h1>
    <div>
    <form method="post">
        {% csrf_token %}
        {% comment %} {{ form.as_p }} {% endcomment %}
    <button>Delete</button>
    </form>
    </div>
{% endblock content%}
