{% extends 'base.html' %}

{% block content %}
    <h1> Update item</h1>
    <div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <button>Update</button>
    </form>
    </div>
{% endblock content%}
